
.intro-box {
    background: transparent;
    padding: 20px;
    border-radius: 12px;
    box-shadow: none;
    padding-top: 100px;

}

.neumorphic-text-section {
    border-radius: 73px;
    background: linear-gradient(145deg, #8ca3d1, #a6c2f8);
    box-shadow:  17px 17px 26px #879dca,
                 -17px -17px 26px #afcdff;
    height: 200px;
    width: auto;
    font-family: 'Inter', sans-serif; 
    font-size: 20px;
    color: black;
    padding-top: 10px;
    padding-left: 14px;
}

