.contact-intro-text {
    color: white;
    font-family: 'Inter', sans-serif; 
    padding-left: 25px;

}

.contact-text-container {
    color: white;
    font-family: 'Inter', sans-serif; 
    padding-left: 35px;
    font-size: 20px;

}