html, body {
    margin: 0px;
    padding: 0px;
}

.footer-main {
    width: 100%;
    height: 14%;
    background-color: black;
    padding: 10px 0;
    margin: 0;
}

.footer-container {
    width: 100%;
    margin: 0;
    padding: 10px;
}

.social-icons {
    display: flex;
}