html, body {
    margin: 0px;
    padding: 0px;
}

/*.footer-main {
    width: 100%;
    height: 14%;
    background-color: black;
    padding: 10px 0;
    margin: 0;
}*/

.footer-container {
    width: 100%;
    height: 14%;
    background-color: black;
    margin: 0;
    padding: 10px 0;
    font-family: 'Inter', sans-serif; 
    color: white;
    padding-left: 10px;
    
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: white;
    font-size: 50px;
    padding-left: 50px;
    margin: 10px;
    border-radius: 50%;
    letter-spacing: 50px;
}

.social-icons:hover {
    opacity: 1;
}
