.projects-title {
    color: white;
    font-family: 'Inter', sans-serif; 
    padding-left: 25px;
}

.projects-text-container {
    color: white;
    font-family: 'Inter', sans-serif; 
    padding-left: 35px;
}